* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header {  
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 15px 200px;    
    transition: 0.5s ease;                                            
}
.header .brand {
    color: white;
    font-size: 20px;
    font-weight: 600;                  
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: -80px;
    border-radius: 15px;
    padding: 10px;
}
.header .navigation {
    position: relative;
    margin-top: 50px;        
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 35px;

}
.header .navigation .navigation-items a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;

}
.border {
    border: 2px solid transparent;
    text-decoration: none;
}
.border:hover {
    border: 3px solid white;
}
.login {
    color: red;
    text-decoration: none;
    padding: 16px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 48px;
    border-radius: 9px;
}
.login:hover{
    text-decoration: none;
}


.hero {
    /* background-color: rgba(28, 164, 164, 0.466); */
    color: white;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */

}

#bg-video{
    position: absolute;
    width:100%;
    z-index: -999;  
}

header{
    position: relative;
    z-index: 1;
    width:100%;
    height:100vh;
    
}

.overlay{
    position:relative;
    z-index: 1;
    width:100%;
    height:100vh;
    background-color: rgba(0, 255, 255, 0.174);
}
.hero {
    position: relative;
    z-index:999;
}
.hero p{
    font-size: 20px;
    font-weight: 400;
    margin-left: 8px;
}
.herodiv{
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: -200px;
}
.hero h1{
    font-size: 55px;
    padding: 10px;
    
}
.search-container {
    background: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 60%;
    height: 15%;
    margin-left: 300px;
    padding-top: 10px;
    margin-top: 20px;    
    }

    .search-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        
       
        
    }
    .icn{
        font-size: 30px;
        padding-top: 10px;
        color: hsl(2, 64%, 58%);   
        margin-bottom: 20px;
    }

    .search-box label {
        font-size: 24px;
        margin-bottom: 4px;
        color: hsl(0, 0%, 33%);
        padding: 5px 10px;
        text-align: center;
        
    }

    .search-btn {
        background: hsl(136, 54%, 43%);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;

    }
    .search-btn:hover {
        background: hsl(135, 59%, 37%);
    }
    .images{
        margin-top: 30px;
    }
    .img {
        display:flex;
        align-content:space-evenly;
        gap: 40px;
        flex-wrap: wrap;
    
    }
    .img1{
        flex: 1 1 calc(20% - 20px);
        border-radius: 10px;
        overflow: hidden;
    }
    .img1 img{
        width: 100%;
        height: 50vh;

    }
    .img1 img{
        width: 100%;
        height: 50vh;
        transition: 0.4s ease;
    }
    .img1 img:hover{
        transform: scale(1.2);
    }
    .images {
        background-color: rgba(243, 242, 242, 0.636);
    }
    .images h2{
        font-size: 34px;
        font-weight: 800;
        padding-top: 100px;
        margin-left: 50px;
        margin-top: 90px;
    }
    .images p{
       font-size: 16px;
       font-weight: 100;
       margin-left: 50px;
       margin-top: 10px;
       padding-top: -280px;  
    }
    .img1 img{
        margin-top: 30px;
        border-radius: 20px;
        margin-left: 30px;
        width: 90%;
    }
    
    .img1 h3{
        margin-left: 50px;
        margin-top: 30px;
    }
    .img1 span{
        font-weight: 900;
        margin-top: 300px;
    }
    .btn1{
       margin-top: 40px;
       margin-left: 45%;
       padding: 20px;
       color: rgb(229, 10, 10);
       border-radius: 10px;
       border: 2px solid rgb(229, 10, 10);
       margin-bottom: 30px;

    }
    .btn1 a{
        font-size: 24px;
        text-decoration: none;
        color:rgb(229, 10, 10) ;
        
    }
    .images1{
         background-color: rgba(243, 242, 242, 0.636);
         margin-top: 10px;
    }
    .images1 h2{
        font-size: 34px;
        font-weight: 800;
        padding-top: 40px;
        
        
        margin-left: 50px;
    }
    .images1 p{
       font-size: 16px;
       font-weight: 100;
       margin-left: 50px;
       margin-top: 10px;
    }
.read-toggle {
    display: none;
}
.more-text {
    display: none;
}
.read-toggle:checked ~ .read-more-text .more-text {
    display: inline;
}
.read-btn {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(229, 10, 10);
    font-weight: 600;
}

.read-btn::after {
    content: "Read More";
}
.read-toggle:checked ~ .read-btn::after {
    content: "Read Less";
}

    
.winter-section {
    padding: 40px 0;
    text-align: center;
}
.main-title {
    font-size: 32px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}


.season-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.season-buttons button {
    padding: 8px 22px;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 67%);
    background: white;
    cursor: pointer;
    font-size: 14px;
}

/* .season-buttons .active {
    background: hsl(355, 78%, 56%);
    border-color: hsl(355, 78%, 56%);
    color: white;
} */


.winter-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}


.info-box {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    text-align: left;
}

.info-box h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: hsl(0, 0%, 20%);
}

.info-box p {
    font-size: 14px;
    color: hsl(0, 0%, 33%);
    line-height: 20px;
}

.arrow-left { 
    margin-right: 10px;
}
.arrow-right { 
    margin-left: 10px;
} 

.arrow {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* cursor: pointer; */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    /* margin-top: 60px; */
    text-decoration: none;
    color:black;
} 
.card {
    width: 260px;
    min-width: 260px;
    height: 350px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: left;
    overflow: hidden;
    flex-direction: column;
    display: flex;
}
.slider-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    scroll-behavior: smooth;
    padding: 20px 0px;
    overflow: auto;
}
.slider-wrapper::-webkit-scrollbar {
    display: none;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.card h4 {
    margin: 12px;
    font-size: 17px;
    color: hsl(0, 0%, 20%);
}

.card .days {
    margin: 0 12px;
    font-size: 14px;
    color: hsl(0, 0%, 47%);
}

.card .price {
    margin: 12px;
    font-weight: bold;
    color: hsl(355, 78%, 56%);
}
.services-section {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.services-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    padding-top: 270px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-card {
    width: 260px;
    background: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
    text-align: left;
    transition: 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.icon {
    font-size: 30px;
    color: hsl(2, 64%, 58%);   
    margin-bottom: 15px;
}

.service-card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.service-card p {
    font-size: 14px;
    margin: 12px 0 20px;
    color: hsl(0, 0%, 40%);
    line-height: 1.5;
}

.book-btn {
    color: hsl(2, 64%, 58%);
    font-weight: bold;
    text-decoration: none;
}

.book-btn:hover {
    text-decoration: underline;
}
.reviews-section {
    display: flex;
}
.reviews-heading {
  margin-bottom: 100px;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.reviews-heading h2 {
  font-size: 32px;
  margin-bottom: 60px;
  padding-top: 30px;
}

.reviews-heading p {
  font-size: 18px;
  color: rgb(68, 68, 68);
}
.review-title {
    font-size: 28px;
    line-height: 1.3;
    font-weight: 600;
    color: rgb(68, 68, 68);
    margin-right: 40px;
    margin-left: 40px;
}

.reviews-container {
    display: flex;
    gap: 35px;
    /* flex-wrap: wrap; */
}

.review-card {
    width: 260px;
    background: hsl(0, 0%, 100%);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    overflow: hidden;
}

.review-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.review-content {
    padding: 15px;
}

.avatar {
    width: 35px;
    height: 35px;
    background: hsl(0, 100%, 95%);
    color: hsl(2, 64%, 58%);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 50%;
}

.review-content h3 {
    margin: 8px 0 5px;
    font-size: 17px;
    font-weight: 600;
}

.stars {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 3px;
}

.stars i {
    color: hsl(45, 100%, 50%);
    font-size: 15px;
}

.rating-num {
    margin-left: 6px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.review-content p {
    font-size: 14px;
    margin: 10px 0 15px;
    color: rgb(85, 85, 85);
    line-height: 1.4;
}

.read-more {
    color: hsl(2, 64%, 58%);
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.review-btn-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.all-reviews-btn {
    padding: 15px 25px;
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
    border: 2px solid hsl(2, 64%, 58%);
    color: hsl(2, 64%, 58%);
    font-size: 24px;
    cursor: pointer;
    margin-top: 800px;
    margin-left: -1500px;
}
.all-reviews-btn:hover {
    text-decoration: underline;
    background: hsl(2, 64%, 58%);
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
}
 h2 {
        text-align: center;
        margin-bottom: 40px;
        color: rgb(51, 51, 51);
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 25px;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }

    .cd {
        background: white;
        padding: 25px;
        width: 230px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        transition: 0.3s;
        text-align: center;
    }

    .cd:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    }

    .cd i {
        font-size: 36px;
        color: rgb(214, 51, 108);
        margin-bottom: 15px;
    }

    .cd h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: rgb(51, 51, 51);
    }

    .cd p {
        font-size: 14px;
        color: rgb(85, 85, 85);
        line-height: 1.4;
    }
    .attention-box {
    display: flex;
    gap: 15px;
    background: rgb(255, 231, 231);
    border-left: 5px solid rgb(214, 51, 62);
    padding: 15px;
    border-radius: 8px;
    margin: 30px auto;
    width: 90%;
    max-width: 1100px;
}

.attention-box i {
    font-size: 28px;
    color: rgb(214, 51, 62);
    margin-top: 5px;
}

.attention-box h4 {
    margin: 0 0 5px 0;
    color: rgb(181, 0, 0);
    font-size: 18px;
}

.attention-box p {
    margin: 0;
    font-size: 14px;
    color: rgb(68, 68, 68);
    line-height: 1.5;
}

 .footer {
    background: white;
    padding: 40px 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-bottom: 40px;
}

.footer-logo {
    width: 180px;
}

.footer-call {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-call i {
    font-size: 22px;
    color: rgb(215, 51, 62);
}

.footer-subscribe {
    display: flex;
    gap: 10px;
}

.footer-subscribe input {
    padding: 10px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px;
    width: 220px;
}

.footer-subscribe button {
    padding: 10px 18px;
    background: #d6333e;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 14px;
}

.footer-social {
    text-align: center;
    margin: 20px 0;
}

.footer-social p {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-social i {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
}

.footer-copy {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: rgb(85, 85, 85);
}
.footer-column {
    width: 250px;
}

.footer-column h3 {
    font-size: 18px;
    color: hsl(0, 100%, 38%);
    margin-bottom: 15px;
}

.footer-column h4 {
    font-size: 15px;
    margin-bottom: 12px;
    color: hsl(147, 100%, 22%);
}

 .footer-row{
    padding: 40px 0;
    text-align: center;
    color: white;
    margin-top: 20px;
 }
.footer-col{
    width: 70%;
    height: 20vh;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.footer-col select{
    width: 200px;
    max-width: 1000px;
    padding: 15px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid rgba(204, 204, 204, 0.364);
    outline: none;
    background: white;
}

body {
    background: hsl(210, 11%, 96%);
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 640px;
    height: 640px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.small-text {
    font-size: 13px;
    margin-bottom: 15px;
    color: rgb(85, 85, 85);
}

.small-text a {
    color: rgb(0, 105, 92);
    text-decoration: none;
    font-weight: bold;
}

label {
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

.password-wrapper {
    position: relative;
}

.show-text {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 14px;
    color: rgb(0, 121, 107);
    cursor: default;
}

.checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-row label {
    margin-left: 6px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: rgb(0, 121, 107);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background: rgb(4, 95, 84);
}

.links {
    margin-top: 15px;
}

.links a {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    color: rgb(0, 121, 107);
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}
.para{
    font-size: 20px;
}


